<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @storey.name %>
  <% @storey.rooms.each do |room| %>
  	<p>
  		<b>Room:</b>
  		<%= room.name %>
  	</p>
  	<% end %>
</p>

<%= link_to 'Edit', edit_storey_path(@storey) %> |
<%= link_to 'Back', storeys_path %>
