<p id="notice"><%= notice %></p>

<p>
  <strong>Storey:</strong>
  <%= @storey.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>Pax</th> 
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @storey.rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.pax %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_storey_path(@storey) %> |
<%= link_to 'Back', storeys_path %>
