<h1>Listing paxes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paxes.each do |pax| %>
      <tr>
        <td><%= pax.name %></td>
        <td><%= pax.room_id %></td>
        <td><%= link_to 'Show', pax %></td>
        <td><%= link_to 'Edit', edit_pax_path(pax) %></td>
        <td><%= link_to 'Destroy', pax, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pax', new_pax_path %>
