<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pax.name %>
</p>

<p>
  <strong>Room:</strong>
  <%= @pax.room_id %>
</p>

<%= link_to 'Edit', edit_pax_path(@pax) %> |
<%= link_to 'Back', paxes_path %>
