<!DOCTYPE html>
<html>
<div class="container">
<head>
	<meta charset="utf-8">
	<h1>Sensor App</h1>
</head>

<body>
<div class="panel panel-info">

<div class="panel-heading"><h5>
  Welcome! Select floor:  
  <%= select("storey", "id", Storey.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %></h5>

</div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col.sm-3">Room</th>
      <th class="col.sm-3">Pax</th> 
      <th class="col.sm-6"></th>
    </tr>
  </thead>

	<tbody id="available-rooms">
		
	<%- Storey.all.each do |storey| %> 
		<%- storey.rooms.each do |room| %> 
			<tr class='room' data-storey-id='<%= storey.id %>' style='display:'>
				<td style="vertical-align:middle;"><%= room.name %></td>
			 	<td style="vertical-align:middle;"><%= room.pax %></td>
			 	<td style="vertical-align:middle;"><button type="button" class="btn btn-primary" id="book">Book</button>
			</tr> 
		<%- end %> 
	<%- end %>
	      
	</tbody>
</table>


<div class="storey">
	<%= link_to 'Storey', storeys_path %>
</div>

<div class="room">
	<%= link_to 'Room', rooms_path %>
</div>

</p>

</body>

<script>
var selection = document.getElementById("storey_id");
var storeyInput = $("#storey_id").val();
var displayRoomTaskHolder = document.getElementById("room");
selection.onchange = selectRoom;
// $.ready(function() { 
// 	$('select').on('change',function() { 
// 		var val = $(this).val(); // returns the id 
// 		$('.room').hide(); 
// 		$('.room[data-storey-id=' + val + ']').show(); 
// 	}); 
// })
</script>
</div>
</html>