<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="row-fluid">
	<div class="panel panel-info">

<div class="panel-heading"><h5>
  Welcome! To book room, Select floor:  
  <%= select("storey", "id", Storey.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %></h5>
</div>

	</div>
</div>

<div class="row-fluid">
<table class="table">
  <thead>
    <tr>
      <th>Room</th>
      <th>Pax</th> 
      <th></th>
    </tr>
  </thead>

	<tbody id="available-rooms">
	<%- Storey.all.each do |storey| %> 
		<%- storey.rooms.each do |room| %> 
			<tr class='room' data-storey-id='<%= storey.id %>' style='display:'>
				<td style="vertical-align:middle;"><%= room.name %></td>
			 	<td style="vertical-align:middle;"><%= room.pax %></td>
			 	<td style="vertical-align:middle;"><button type="button" class="btn btn-primary" id='<%= room.name %>' onclick="bookRoom(this.id)">Book</button></td>
			</tr> 
		<%- end %> 
	<%- end %>
	</tbody>
</table>
<div class="mycontainer" id="timer">
</div> 
</div>

<div class="mycontainer">
<%= link_to 'Storey', storeys_path %>
<%= link_to 'Room', rooms_path %>
</div>

</body>

<script>
var selection = document.getElementById("storey_id");
var storeyInput = $("#storey_id").val();
var displayRoomTaskHolder = document.getElementById("room");
selection.onchange = selectRoom;
// $.ready(function() { 
// 	$('select').on('change',function() { 
// 		var val = $(this).val(); // returns the id 
// 		$('.room').hide(); 
// 		$('.room[data-storey-id=' + val + ']').show(); 
// 	}); 
// })
</script>
</html>